/* Layout */
.login__wrapper {
  --bg: hsla(0, 0%, 0%, 0.2);
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-color: var(--bg);
}

.login__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 3rem;
}

.login__title {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  width: 70%;
  margin-bottom: 0;
}

.login__form {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.relative {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* Input Styles */
.login__input {
  padding-block: 0.75rem;
  padding-inline: 0.5rem 0.75rem;
  border-style: none;
  border-radius: 0.5rem;
  text-align: start;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 0%, 0.1) 20%,
    hsl(0, 0%, 0%, 0.3) 40%,
    hsl(0, 0%, 0%, 0.5) 80%
  );
}

/* Button Styles */
.button-34 {
  background: rgb(92, 92, 240);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  width: 100%;
  padding-inline: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  transition: 0.3s ease-in;
}

.button-34:hover {
  box-shadow: var(--shadow-elevation-medium);
}

/* Visually Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Already Have an Account Section */
.alredy__wrapper {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.alredy__anchor,
.alredy__anchor:visited {
  margin-left: 0.3rem;
  font-weight: 500;
  color: #ffc857;
  text-decoration: none;
}

.errmsg {
  color: #ffc857;
  display: flex;
  margin: 0;
  padding: 0;
  /* opacity: 0; */
}
