/* Estilos para el contenedor del Indicador de Recursos */
.resource-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el contenedor principal del Indicador de Recursos */
/* todo ver el estilo */
.resource-indicator-wrapper {
  gap: 3rem;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  margin: .75rem;
  border: 1px solid var(--clr-91);
  border-radius: .5rem;
  border-bottom: 0;
  border-right: 0;
  box-shadow: 0px 0px 2px .5px  var(--clr-92);
  min-width: 100px;
  /* background-color: #33CCCC; */
}

/* Estilos para el icono del Indicador de Recursos */
.resource-indicator__icon {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
}

/* Estilos para el texto de producción del Indicador de Recursos */
.resource-indicator__name {
  color: var(--clr-01);
  font-size: 12px;
  font-weight: 500;
}

/* Capacity */
.red-storage {
  color: red;
}

.green-storage {
  color: green;
}