@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  /* background-color: #ced4da; */
  /* background-color: #343a40; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Posibles colores */
  --clr-01: #f8f9fa;
  --clr-02: #e9ecef;
  --clr-03: #dee2e6;
  --clr-04: #ced4da;
  --clr-05: #adb5bd;
  --clr-06: #6c757d;
  --clr-07: #495057;
  --clr-08: #343a40;
  --clr-09: #212529;

  --clr-90: #747bff;
  --clr-91: #646cff;
  --clr-92: #535bf2;

  --shadow-color: 240deg 64% 40%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.25),
    0.9px 1.9px 2.6px -0.6px hsl(var(--shadow-color) / 0.31),
    2.2px 4.3px 6px -1.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 13.8px -1.7px hsl(var(--shadow-color) / 0.42);
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Color Theme Swatches in Hex */
.Electrys-|-EV-charging-app-1-hex {
  color: #6e34bf;
}
.Electrys-|-EV-charging-app-2-hex {
  color: #42208c;
}
.Electrys-|-EV-charging-app-3-hex {
  color: #2b1e59;
}
.Electrys-|-EV-charging-app-4-hex {
  color: #201740;
}
.Electrys-|-EV-charging-app-5-hex {
  color: #4ea66d;
}

/* Color Theme Swatches in RGBA */
.Electrys-|-EV-charging-app-1-rgba {
  color: rgba(109, 51, 191, 1);
}
.Electrys-|-EV-charging-app-2-rgba {
  color: rgba(66, 32, 140, 1);
}
.Electrys-|-EV-charging-app-3-rgba {
  color: rgba(43, 30, 89, 1);
}
.Electrys-|-EV-charging-app-4-rgba {
  color: rgba(31, 22, 63, 1);
}
.Electrys-|-EV-charging-app-5-rgba {
  color: rgba(77, 165, 108, 1);
}

/* Color Theme Swatches in HSLA */
.Electrys-|-EV-charging-app-1-hsla {
  color: hsla(264, 57, 47, 1);
}
.Electrys-|-EV-charging-app-2-hsla {
  color: hsla(258, 62, 33, 1);
}
.Electrys-|-EV-charging-app-3-hsla {
  color: hsla(253, 49, 23, 1);
}
.Electrys-|-EV-charging-app-4-hsla {
  color: hsla(253, 47, 17, 1);
}
.Electrys-|-EV-charging-app-5-hsla {
  color: hsla(140, 36, 47, 1);
}
