.welcome__wrapper{
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
}

.welcome__picture{
  display: flex;
  height: 100vh;
}

.welcome__img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}